html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
}

.antet td {
    font-size: 10px;
    font-family: 'calibri light';
}

.antet td:first-child {
    width: 74%;
}

.header {
    margin-top: 0px;
    transform: translateY(-60px);
}

.header__left-cell {
    width: 60%;
}

.header__left-cell h3 {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
}

.header__right-cell {
    width: 40%;
}

.header__title {
    font-family:'Times New Roman', Times, serif;
    font-size: 48pt;
    font-weight: 400;
    color: rgba(46, 116, 181, 1);
}

.header__title--small {
    font-size: 28pt;
}

.header__subimg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 9pt;
    color: gray;
    font-style: italic;
}

.ogetto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
}

.ogetto span, .easypress-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    color: rgba(112, 173, 71, 1);
}

.description-table,
.description-table tr,
.description-table td,
.description-table th {
    border: 1px solid black;
    padding-left: 10px;
    vertical-align: top;
}

.description-table {
    border-collapse: collapse;
    font-size: 11pt;
    width: 95%;
    margin-left: 0;
    transform: translateX(-10px);
}

.description-table tr td:first-child {
    font-weight: 700;
}

.description-table tr td .easypress-text {
    font-size: 11pt;
}

.description-table tr td ul {
    margin: 0;
    padding: 0;
    margin-left: 3em;
}

.description-table li { font-style: italic;}

.description-table tr td p {
    margin: 0;
    padding: 0;
}

.description-table tr:nth-child(5) td {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -20;
    transform: translate(50px ,50px);
}

.footer img {
    width: 280px;
}

.page {
    position: relative;
    page-break-after: always;
}

.page:last-child {
    page-break-after: avoid;
}

.cond {
    width: 100%;
    font-size: 8pt;
}

.cond tr:first-child { text-align: center; }

.cond tr:nth-child(2) td {
    width: 50%;
    vertical-align: top;
}

.cond .point {
    padding: 0 2em;
}

.cond .easypress-text {
    font-size: 8pt;
}

.data {
    text-align: center;
    color: #aaa;
    margin: 20px 0 60px 0;
}

.data:last-child {
    margin-top: 60px;
}

.cond tr td div:last-child {
    text-align: center;
}

.cond tr td div:last-child span:last-child {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(46, 116, 181, 1);
    font-size: 13pt;
    font-weight: 700;
    transform: translate(80px, -10px);
}

.cond tr td div .easypress-text {
    font-size: 48pt;
    font-weight: 700;
}

.cond tr:last-child td p {
    color: rgba(46, 116, 181, 1);
}

.cond tr:last-child td p span {
    color: #aaa;
    font-style: italic;
}

.cond .input {
    width: 80%;
    border-bottom: 1px solid rgba(46, 116, 181, 1);
    font-size: 20pt;
}

.signature {
    position: absolute;
    bottom: 0;
    left: 50px;
    transform: translateY(30px);
}

.signature img {
    width: 180px;
}
